[submodule "templates"]
	path = templates
	url = https://github.com/removed-user/templates.git
[submodule "Nix-Strays"]
	path = Nix-Strays
	url = https://github.com/removed-user/Nix-Strays.git
[submodule "lib_flakeModule"]
	path = lib_flakeModule
	url = https://github.com/removed-user/lib_flakeModule.git
[submodule "BackBone"]
	path = BackBone
	url = https://github.com/removed-user/BackBone.git
[submodule "NixLib-Extensions-Boiler"]
	path = NixLib-Extensions-Boiler
	url = https://github.com/removed-user/NixLib-Extensions-Boiler.git
[submodule "nix_packages"]
	path = nix_packages
	url = https://github.com/removed-user/nix_packages.git
[submodule "Nix_Extra-Builders"]
	path = Nix_Extra-Builders
	url = https://github.com/removed-user/Nix_Extra-Builders.git
